/// **** COLORS VARIABLES  **** ///
// Descriptive naming
    $color-black:#000000;
    $color-white:#FFFFFF;
    $color-purple-heart:#501EC4;
    $color-cod-gray:#1E1D1D;
    $color-tundora:#474747;




// Functional naming 
    //Buttons & Links
    $button-primary-color:$color-cod-gray;
    $button-primary-bg-color:$color-white;
    $button-secondary-color:$color-white;
    $button-secondary-bg-color:$color-purple-heart;
    $hover-active-color:$color-purple-heart;
    

    //Font
    $heading-color: $color-cod-gray;
    $heading-color--w: $color-white;
    $body-main-color: $color-cod-gray;
    $body-main-color--w: $color-white;
    $border-color:$color-cod-gray;
    $border-color--w:$color-white;
    $input-placeholder:$color-tundora;

    //Nav
    $nav-bg-color: $color-cod-gray;
    $nav-link-color:$color-white;

    //Benefits
    $benefits-bg-color: $color-cod-gray;

    //Gallery
    $gallery-bg-color: $color-cod-gray;

    //Pricing
    $pricing-card-bg-color: $color-cod-gray;

    //Slide-Show
    $slide-show-bg-color:$color-cod-gray;

    //Footer
    $footer-bg-color:$color-cod-gray;







